<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mob.sharesdkpluskakao">

    <application>
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${Kakao-AppKey}" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="cn.sharesdk.kakao.talk.ReceiveActivity"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="kakao${Kakao-AppKey}"
                    android:host="kakaolink" />
            </intent-filter>
        </activity>
    </application>
</manifest>