<widget id="A6034076357783" version="0.0.1">
    <name>ShareSDK模块开发</name>
    <description>
        模块开发示例应用.
    </description>
    <author email="developer@apicloud.com" href="https://www.apicloud.com">
        APICloud
    </author>
    <content src="index.html" />
    <preference name="debug" value="true" />

    <preference name="statusBarAppearance" value="true"/>
    <feature name="shareSDKPlus">
        <param name="Mob-AppKey" value="moba0b0c0d0" />
        <param name="Mob-AppSecret" value="5713f0d88511f9f4cf100cade0610a34" />

        <param name="WeChat-AppId" value="wx4868b35061f87885" />
        <param name="WeChat-AppSecret" value="64020361b8ec4c99936c0e3999a9f249" />
        <param name="WeChat-WithShareTicket" value="true" />
        <param name="WeChat-BypassApproval" value="false" />

        <param name="SinaWeibo-AppKey" value="568898243" />
        <param name="SinaWeibo-AppSecret" value="38a4f8204cc784f81f9f0daaf31e02e3" />
        <param name="SinaWeibo-ShareByAppClient" value="true" />
        <param name="SinaWeibo-RedirectUrl" value="http://www.sharesdk.cn" />

        <param name="QQ-AppId" value="100371282" />
        <param name="QQ-AppKey" value="aed9b0303e3ed1e27bae87c33761161d" />
        <param name="QQ-ShareByAppClient" value="true" />
        <param name="QQ-BypassApproval" value="false" />

        <param name="Google-ClientID" value="232554794995.apps.googleusercontent.com" />
        <param name="Google-RedirectUri" value="http://localhost" />
        <param name="Google-ShareByAppClient" value="true" />

        <param name="Facebook-ConsumerKey" value="1412473428822331" />
        <param name="Facebook-ConsumerSecret" value="a42f4f3f867dc947b9ed6020c2e93558" />
        <param name="Facebook-RedirectUrl" value="https://mob.com" />
        <param name="Facebook-ShareByAppClient" value="true" />

        <param name="Twitter-ConsumerKey" value="viOnkeLpHBKs6KXV7MPpeGyzE" />
        <param name="Twitter-ConsumerSecret" value="NJEglQUy2rqZ9Io9FcAU9p17omFqbORknUpRrCDOK46aAbIiey" />
        <param name="Twitter-CallbackUrl" value="http://mob.com" />
        <param name="Twitter-ShareByAppClient" value="true" />
        <param name="Twitter-BypassApproval" value="true" />

        <param name="Instagram-ClientId" value="ff68e3216b4f4f989121aa1c2962d058" />
        <param name="Instagram-ClientSecret" value="1b2e82f110264869b3505c3fe34e31a1" />
        <param name="Instagram-RedirectUri" value="http://sharesdk.cn" />
        <param name="Instagram-ShareByAppClient" value="true" />

        <param name="Alipay-AppId" value="2015072400185895" />

        <param name="Kakao-AppKey" value="48d3f524e4a636b08d81b3ceb50f1003" />

        <param name="Telegram-AppKey" value="782826033" />
        <param name="Telegram-RedirectUrl" value="http://www.mob.com" />

        <param name="Line-ChannelID" value="1639219273" />
        <param name="Line-ChannelSecret" value="58faad55ffce8bf8f63b59fe6fb702ae" />
        <param name="Line-RedirectUri" value="https://www.mob.com/" />

        <param name="Dingding-AppId" value="dingoanxyrpiscaovl4qlw" />
        <param name="Dingding-BypassApproval" value="false" />
        <param name="Dingding-RedirectUrl" value="http://localhost" />

    </feature>
</widget>
