 <widget id="A6000948741995"  version="0.0.1">
    <name>ShareSDK</name>
    <description>
        Example For APICloud.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        Developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="pageBounce" value="false"/>
	<preference name="appBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
	<preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
	<preference name="hScrollBarEnabled" value="false"/>
	<preference name="vScrollBarEnabled" value="false"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="fullScreen" value="false"/>
	<preference name="autoUpdate" value="true" />
	<preference name="smartUpdate" value="false" />
	<preference name="debug" value="true"/>
	<preference name="statusBarAppearance" value="true"/>
	<permission name="readPhoneState" />
	<permission name="camera" />
	<permission name="record" />
	<permission name="location" />
	<permission name="fileSystem" />
	<permission name="internet" />
	<permission name="bootCompleted" />
	<permission name="hardware" />
  <feature name="ShareSDKPlus">

        <param name="urlScheme" value="wx617c77c82218ea2c" />

        <param name="urlScheme" value="wb568898243" />

        <param name="urlScheme" value="tencent100371282" />
        <param name="urlScheme" value="QQ05FB8B52" />

        <param name="urlScheme" value="ap2017062107540437" />

        <param name="urlScheme" value="fb1412473428822331" />

        <param name="urlScheme" value="line3rdp.com.mob.product.ShareSDK" />

        <param name="urlScheme" value="yx0d9a9f9088ea44d78680f3274da1765f" />

        <param name="urlScheme" value="pdk4987008320438021391" />

        <param name="urlScheme" value="kakao9c17eb03317e0e627ec95a400f5785fb" />

        <param name="urlScheme" value="dingoabcwtuab76wy0kyzo" />

        <param name="urlScheme" value="pocketapp1234" />

        <param name="urlScheme" value="vk5312801" />

        <param name="urlScheme" value="twitterkit-viOnkeLpHBKs6KXV7MPpeGyzE" />

        <param name="urlScheme" value="rm226427com.mob.product.ShareSDK" />

        <param name="urlScheme" value="ak1412473428822331" />

        <param name="urlScheme" value="aw9ivykfjvi4hpwo" />

    </feature>

</widget>